@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
    font-family: "Roboto", sans-serif;
    transition: all 0.15s;
}

header
{
    background-color: #212529;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.tigerButton
{
    background-color: #f76902;
    text-align: center;
    color: white;
    font-size: 48px;
    margin: 16px;
    padding: 16px;
    border-radius: 32px;
    font-weight: 700;
}

h1
{
    padding: 32px;
    font-weight: 100;
    font-style: normal;
}

.miniPostList
{
    padding: 32px;
    display: flex;
    overflow: scroll;
}

.miniPost
{
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    width: 256px;
    height: 256px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.miniPost:hover
{
    cursor: pointer;
    scale: 105%;
}

.miniPostImage
{
    height: 0px;
    object-fit: contain;
    flex: 1;
}

.miniPostName
{
    padding: 16px;
    text-align: center;
    background-color: #fff;
    font-weight: 900;
}

footer
{
    background-color: #212529;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#newPostFormDiv
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 32px;
}

#newPostFormDiv div
{
    display: flex;
    flex-direction: column;
}

#newPostFormDiv input
{
    width: 100%;
    font-size: 32px;
    padding: 8px;
    margin: 16px;
    border-color: darkgray;
    background-color: lightgray;
}

#newPostFormDiv textarea
{
    width: 100%;
    font-size: 32px;
    padding: 8px;
    margin: 16px;
    border-color: darkgray;
    background-color: lightgray;
}

#newPostFormDiv p
{
    width: 100%;
    font-size: 32px;
    padding: 8px;
    margin: 16px;
}

#newPostFormDiv img
{
    width: 100%;
    padding: 8px;
    margin: 16px;
    object-fit: cover;
    flex: 1;
}

::placeholder
{
    color: black;
    opacity: 1; /* Firefox */
    font-weight: 200;
}

#newPostLeft
{
    width: 20%;
}

#newPostRight
{
    width: 70%;
}

#newPostSubmit
{
    margin: 0 auto;
    display: block;
}